*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.background{
    background: rgba(0, 0, 0,0.6) url('./Images/background1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.logo img{
    width: 60px;
    height: 60px;
    border: 2px solid darkgrey;
    border-radius: 50%;
    margin: 6px 20px ;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.left-nav{
    display: flex;
    align-items: center;
}

.left-nav li{
    list-style: none;
    padding: 0px 10px;
    margin: 20px 20px;
}

.left-nav li a{
    text-decoration: none;
    color: white;
}

.left-nav li a:hover{
    color: gray;
}

.right-nav{
    padding: 0px 20px;
}

#search{
    padding: 5px;
    border-radius: 6px;
}

.btn{
    padding: 5px 10px;
    cursor: pointer;
}

.btn-sm{
    margin: 0 10px;
    border-radius: 6px;
}

.img_modify{
    width: 200px;
    height: 200px;
    border: 2px solid cornsilk;
    border-radius: 50%;
    margin: auto;
}

.first-section{
    height: 100vh;
}
.container{
    display: flex;
    width: 60%;
    max-width: 1100px;
    padding: 200px 0;
    margin: 0 auto;
}

.left_half{
    width: 80%;
    color: white;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right_half{
    width: 30%;
    text-align: right;
}

.text-big{
    font-size: 21px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text-small{
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons{
    padding: 8px 0;
}

.buttons button{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 1.5px;
    background: none;
    color: white;
    cursor: pointer;
}

.down-section{
    display: flex;
    width: 80%;
    max-width: 1200px;
    padding: 200px 0;
    margin: 0 auto;
    justify-content: center;
}

.left-sec{
    flex-direction: row-reverse;
}
.paras{
    width: 90%;
    padding: 0 2rem;
}

.imgfluid{
    border:2px solid black;
    border-radius: 10px;   
}


.form{
    background-color: rgba(240, 237, 231, 0.87);
    height: 34vh;
    padding: 20px 0;
}

.text-center{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form__inputs{
    max-width: 344px;
    margin: 12px auto;
}

.form__inputs input{
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 5px;
    padding: .2rem .4rem;
    margin: 12px 0;
}